{{define "head"}}
<link href="/static/highlight/styles/ir_black.css" rel="stylesheet" media="screen">
{{end}}

{{define "title"}}{{.Title}} {{end}}

{{define "body" }}
<div class="container flex-grow-1" id="container">
  <div class="row h-100" style="text-align:left;">
    <div class="col-md-8 col-md-offset-2 d-flex flex-column w-100">
      <h1>{{.Title}}</h1>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active flex-grow-1" id="editingTab" data-bs-toggle="tab" data-bs-target="#editing" type="button" role="tab" aria-controls="home" aria-selected="true">Редактировать</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="previewTab" data-bs-toggle="tab" data-bs-target="#preview" type="button" role="tab" aria-controls="profile" aria-selected="false">Превью</button>
        </li>
      </ul>
      <div class="tab-content flex-grow-1" id="myTabContent">
        <div class="tab-pane fade show active h-100 d-flex flex-column" id="editing" role="tabpanel" aria-labelledby="editing-tab">
          <textarea id="postText" class="p-2 flex-grow-1 mx-3">{{.Body}}</textarea>
          <div class="align-self-center m-3">
            <a id="cancelSavePost" class="btn btn-secondary" style="width: 120px" type="button" href="\">Отмена</a>
            <button id="savePost" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#passwordModal" style="width: 120px" type="button">Сохранить</button>
            <div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModal" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Проверка пароля для сохранения поста</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="mb-3">
                        <label for="password" class="col-form-label">Пароль:</label>
                        <input type="text" class="form-control" id="password">
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancelPassword">Отмена</button>
                    <button type="button" class="btn btn-primary" id="checkPassword">Сохранить</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="preview" role="tabpanel" aria-labelledby="previewTab">
        </div>
      </div>
      <!-- Tabs content -->
    </div>
  </div>
</div>
{{end}}

{{define "scripts"}}
<script src="/static/highlight/highlight.pack.js"></script>
<script src="/static/js/editing_post.js"></script>
<script src="/static/js/tools.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
  // $('table').addClass('table table-striped table-bordered table-condensed');
</script>
{{end}}