<!doctype html>
<html>
  <header>
    {{ template "header.tmpl" .}}
    <link href="/static/highlight/styles/ir_black.css" rel="stylesheet" media="screen">
  </header>

  <body class="vh-100">
    <script src="/static/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <div class="d-flex flex-column" style="height: 100vh">
      {{ template "auth_navbar.tmpl" .}}
      <div class="container flex-grow-1" id="container">
        <div class="btn-group" role="group">
          <span>
            <input id='fileUpload' type='file' hidden/>
            <button id='fileUploadBtn' type="button" class="btn btn-outline-secondary renameModal mb-2" title="add image">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-images" viewBox="0 0 16 16">
                <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"></path>
                <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z"></path>
              </svg>
            </button>
          </span>
          <button type="button" class="btn btn-outline-secondary mb-2" data-bs-toggle="modal" data-bs-target="#shareModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
              <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"></path>
            </svg>
          </button>
        </div>
        <div class="row h-100" style="text-align:left;">
          <div class="col-md-8 col-md-offset-2 d-flex flex-column w-100">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active flex-grow-1" id="editingTab" data-bs-toggle="tab" data-bs-target="#editing" type="button" role="tab" aria-controls="home" aria-selected="true">Edit</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="previewTab" data-bs-toggle="tab" data-bs-target="#preview" type="button" role="tab" aria-controls="profile" aria-selected="false">Preview</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="headersTab" data-bs-toggle="tab" data-bs-target="#headers" type="button" role="tab" aria-controls="profile" aria-selected="false">Headers</button>
              </li>
            </ul>
            <div class="tab-content flex-grow-1" id="myTabContent">
              <div class="tab-pane fade show active h-100 d-flex flex-column" id="editing" role="tabpanel" aria-labelledby="editing-tab">
                <textarea id="postText" class="p-2 flex-grow-1 mx-3">{{.Body}}</textarea>
                <div class="align-self-center m-3">
                  <a id="cancelSavePost" class="btn btn-secondary" style="width: 120px" type="button" href="\">Cancel</a>
                  <button id="savePost" class="btn btn-primary me-2" style="width: 120px" type="button">Save</button>
                </div>
              </div>
              <div class="tab-pane fade" id="preview" role="tabpanel" aria-labelledby="previewTab">
              </div>
            </div>
            <!-- Tabs content -->
          </div>
        </div>
        <!-- share modal -->
        <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="shareModalTitle">Share file</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <p class="col-form-label" id="shareModalLabel">Do you want to share the file?</p>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="shareModalBtn">Share</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end share modal -->
      </div>
    </div>

    <script src="/static/js/editing_post.js"></script>
    <script src="/static/js/navbar.js"></script>
    <script src="/static/highlight/highlight.pack.js"></script>
    <script src="/static/js/tools.js"></script>
  </body>
</html>